

<div class="main-body">


	<div class='panel'>
		<div class='header'>
			<span class='col_fade'><i class="icon-time"></i> 最新应用</span>
		</div>
       <div class="inner"> 
			 
			<div class="user card"> 
					<a href="#2" class="J_Apps" data="/auyun">
                    <img class="user_avatar" src="http://images.cnodejs.net:10080/images/logo5.png" title="admin" style="width:100px;height:100px" ></a>  
					<span class="user_name">奥运徽标</span> 
					<div class="sep5"></div> 
					<!--<span class="col_fade">点击数: 2 &nbsp;&nbsp;&nbsp;&nbsp;粉丝:0 &nbsp;&nbsp;&nbsp;&nbsp;关注: <a href="/1/following">0</a></span> -->
			</div>	 
		
        	<div class="user card"> 
					<a href="#2" class="J_Apps" data="/love">
                    <img class="user_avatar" src="http://images.cnodejs.net:10080/images/logo5.png" title="admin" style="width:100px;height:100px" ></a>  
					<span class="user_name">爱情语录</span> 
					<div class="sep5"></div> 
					<!--<span class="col_fade">点击数: 2 &nbsp;&nbsp;&nbsp;&nbsp;粉丝:0 &nbsp;&nbsp;&nbsp;&nbsp;关注: <a href="/1/following">0</a></span> -->
			</div>	 
            
            	<div class="user card"> 
					<a href="#2" class="J_Apps" data="/photo">
                    <img class="user_avatar" src="http://images.cnodejs.net:10080/images/logo5.png" title="admin" style="width:100px;height:100px" ></a>  
					<span class="user_name">日韩街拍</span> 
					<div class="sep5"></div> 
					<!--<span class="col_fade">点击数: 2 &nbsp;&nbsp;&nbsp;&nbsp;粉丝:0 &nbsp;&nbsp;&nbsp;&nbsp;关注: <a href="/1/following">0</a></span> -->
			</div>	 
            
            	<div class="user card"> 
					<a href="#2" class="J_Apps" data="/breakfast">
                    <img class="user_avatar" src="http://images.cnodejs.net:10080/images/logo5.png" title="admin" style="width:100px;height:100px" ></a>  
					<span class="user_name">花样早餐</span> 
					<div class="sep5"></div> 
					<!--<span class="col_fade">点击数: 2 &nbsp;&nbsp;&nbsp;&nbsp;粉丝:0 &nbsp;&nbsp;&nbsp;&nbsp;关注: <a href="/1/following">0</a></span> -->
			</div>	 
            
            	<div class="user card"> 
					<a href="#2" class="J_Apps" data="/zhou">
                    <img class="user_avatar" src="http://images.cnodejs.net:10080/images/logo5.png" title="admin" style="width:100px;height:100px" ></a>  
					<span class="user_name">养生粥</span> 
					<div class="sep5"></div> 
					<!--<span class="col_fade">点击数: 2 &nbsp;&nbsp;&nbsp;&nbsp;粉丝:0 &nbsp;&nbsp;&nbsp;&nbsp;关注: <a href="/1/following">0</a></span> -->
			</div>	 
            
            	<div class="user card"> 
					<a href="#2" class="J_Apps" data="/mustgo">
                    <img class="user_avatar" src="http://images.cnodejs.net:10080/images/logo5.png" title="admin" style="width:100px;height:100px" ></a>  
					<span class="user_name">人生一定去的山</span> 
					<div class="sep5"></div> 
					<!--<span class="col_fade">点击数: 2 &nbsp;&nbsp;&nbsp;&nbsp;粉丝:0 &nbsp;&nbsp;&nbsp;&nbsp;关注: <a href="/1/following">0</a></span> -->
			</div>	 
            
            	<div class="user card"> 
					<a href="#2" class="J_Apps" data="/paigu">
                    <img class="user_avatar" src="http://images.cnodejs.net:10080/images/logo5.png" title="admin" style="width:100px;height:100px" ></a>  
					<span class="user_name">排骨</span> 
					<div class="sep5"></div> 
					<!--<span class="col_fade">点击数: 2 &nbsp;&nbsp;&nbsp;&nbsp;粉丝:0 &nbsp;&nbsp;&nbsp;&nbsp;关注: <a href="/1/following">0</a></span> -->
			</div>	 
            
            	<div class="user card"> 
					<a href="#2" class="J_Apps" data="/tianpin">
                    <img class="user_avatar" src="http://images.cnodejs.net:10080/images/logo5.png" title="admin" style="width:100px;height:100px" ></a>  
					<span class="user_name">甜品</span> 
					<div class="sep5"></div> 
					<!--<span class="col_fade">点击数: 2 &nbsp;&nbsp;&nbsp;&nbsp;粉丝:0 &nbsp;&nbsp;&nbsp;&nbsp;关注: <a href="/1/following">0</a></span> -->
			</div>	 
            
            	<div class="user card"> 
					<a href="#2" class="J_Apps" data="/all">
                    <img class="user_avatar" src="http://images.cnodejs.net:10080/images/logo5.png" title="admin" style="width:100px;height:100px" ></a>  
					<span class="user_name">车标大全</span> 
					<div class="sep5"></div> 
					<!--<span class="col_fade">点击数: 2 &nbsp;&nbsp;&nbsp;&nbsp;粉丝:0 &nbsp;&nbsp;&nbsp;&nbsp;关注: <a href="/1/following">0</a></span> -->
			</div>	 
            
            	<div class="user card"> 
					<a href="#2" class="J_Apps" data="/all2">
                    <img class="user_avatar" src="http://images.cnodejs.net:10080/images/logo5.png" title="admin" style="width:100px;height:100px" ></a>  
					<span class="user_name">交通标志大全</span> 
					<div class="sep5"></div> 
					<!--<span class="col_fade">点击数: 2 &nbsp;&nbsp;&nbsp;&nbsp;粉丝:0 &nbsp;&nbsp;&nbsp;&nbsp;关注: <a href="/1/following">0</a></span> -->
			</div>	 
            
            	<div class="user card"> 
					<a href="#2" class="J_Apps" data="/yulu/0">
                    <img class="user_avatar" src="http://images.cnodejs.net:10080/images/logo5.png" title="admin" style="width:100px;height:100px" ></a>  
					<span class="user_name">语录</span> 
					<div class="sep5"></div> 
					<!--<span class="col_fade">点击数: 2 &nbsp;&nbsp;&nbsp;&nbsp;粉丝:0 &nbsp;&nbsp;&nbsp;&nbsp;关注: <a href="/1/following">0</a></span> -->
			</div>	 
            
			 
			 
		</div>
	</div>
	
	
</div>

<%-partial('side')%>

<script>

KISSY.ready(function(){
	
	var S = KISSY , DOM = KISSY.DOM ,Event =KISSY.Event;

	 Event.delegate(document,'click','.J_Apps', function(ev) {
			var URl = DOM.attr(ev.currentTarget,'data');
			window.TopExpiredPanel = H.widget.DialogMgr.get('J_TopExpiredme',{
				 ID : 'J_TopExpiredme',	
				 head: '', 
				 foot:'<a href="javascript:void(0);" class="close">closes</a>',
				 center: true,
				 width: '750px',
				 drag: true	,
				 scroll: false
			});
			TopExpiredPanel.setBody('<div class="J_Iframe"><iframe name="J_TopExpiredIframe"  id="J_TopExpiredIframe"  src="" marginwidth="0" marginheight="0" scrolling="no"  frameborder="0" WIDTH="750" height="560"  ></iframe><div>');
			var blocked = false; 
			try {    
				 var wroxWin = window.open(URl,'J_TopExpiredIframe');     
				 if (wroxWin == null) {        
				 	blocked = true;     
				 } 
			} catch (ex) {     
				blocked = true; 
			} 
			if (blocked) {    
	
			}
			TopExpiredPanel.show();

				
			})	
	
	
})


</script>